.profile {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  padding-top: 30px;
  margin-top: 30px;
  background-color: #e9e5e5;
  border-radius: 4px;
}

.description {
 text-align: center;
 margin-bottom: 30px;
 
}

.avatar{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.name{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.tag{
  font-size: 20px;
  font-weight: 600;
  color: grey;
  margin-bottom: 10px;
}

.location{
font-size: 20px;
font-weight: 600;
  color: grey;
}

.stats{
  display: flex;
}

.item{
  flex-basis: calc(100% / 3);
  border: 1px solid grey;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d8d5d5;
}

.label{
  font-size: 20px;
  color: grey;
  display: block;
}

.quantity{
  font-size: 25px;
  font-weight: 700;
}